:root {
  --clr-bg: #1955d1;
  --clr-secondary: #darkblue;
  --clr-text: #fff;
  --clr-link: #d2d0db;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--clr-text);
  font-family: 'Forum', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  background: #1956d1;
  background: -webkit-linear-gradient(bottom, #1956d1, #0b214d);
  background: -moz-linear-gradient(bottom, #1956d1, #0b214d);
  background: linear-gradient(to top, #1956d1, #0b214d);
}

.title {
  font-weight: 500;
  font-size: 4rem;
  letter-spacing: 3px;
  word-spacing: 4px;
  text-align: center;
  margin-top: 4rem;
}

.square {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  top: 5.5rem;
  right: 30%;
  margin: 0 auto;
  z-index: -1;
  border-radius: 10px;
}

.gradient {
  position: sticky;
  top: 0;
  height: 50px;
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
  background: /* gradient can be an image */ linear-gradient(
      to left,
      rgba(0, 0, 0, 0.5) 0%,
      rgb(29, 31, 134) 12%,
      rgb(65, 106, 182) 67%,
      rgba(0, 0, 0, 0.5) 100%
    )
    left bottom #000 no-repeat;
  background-size: 100% 5px; /* if linear-gradient, we need to resize it */
  z-index: -1;
}

h2 {
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
}

a {
  color: var(--clr-link);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--clr-text);
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
  overflow-x: hidden;

}

/* Navbar */

.navbar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  color: #fff;
  background-color: black;
}

.nav-links ul {
  display: flex;
  list-style: none;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;

}

.nav-link {
  display: block;
  color: var(--clr-link);
  padding: 0 3vw;
  white-space: nowrap;

}

.nav-link:hover {
  color: #fff;
  transition: 0.3s;
}

@media screen and (max-width:767px) {
  html, body {
      overflow-x: hidden;
  }
}

@media (max-width: 620px) {
  .nav-links ul {
    font-size: 1.2rem;
  }

  .nav-link {
    padding: 0 1rem;
  }

}

@media (max-width: 490px) {

  .nav-links ul {
    font-size: 0.9rem;
  }

  .nav-link {
    padding: 0 0.5rem;
  }
}

@media (max-width: 340px) {
  .nav-link {
    padding: 0 1vw;
  }
}


/* Gallery section */

.frame {
  margin: 3rem auto;
  width: 90vw;
  background-color: #000;
  border-radius: 10px;
  padding: 2rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  padding: 2rem 2rem;
  gap: 3rem;
  justify-items: center;
  align-items: center;
}

@media (max-width: 540px) {
  .gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .frame {
    width: 100vw;
    object-fit: cover;
  }

}

/* The Images */
.project-tile {
  border-radius: 3px;
  max-width: 400px;
  transition: opacity 0.25s ease-in-out;
}

.project-tile:hover {
  opacity: 0.7;
  /* transform: scale(1.5); */
  transition: all 0.3s;
}

.img-expanded {
  position: fixed;
  /* overflow: hidden; */
  top: 60px;
  left: 33%;
  z-index: 1000;
  /* max-width: 30%; */
  max-width: 650px;
  max-height: 100vh;
}

.gallery__link.river.img-expanded {
  width: 800px;
}

@media (max-width: 1700px) {
  .img-expanded {
    left: 32%;
    max-width: 600px;
  }
}

@media (max-width: 1500px) {
  .img-expanded {
    left: 28%;
    max-width: 600px;
  }
}

@media (max-width: 1400px) {
  .img-expanded {
    top: 70px;
    left: 26.5%;
    max-width: 600px;
  }
}

@media (max-width: 1180px) {
  .img-expanded {
    left: 26%;
    max-width: 500px;
  }
}

@media (max-width: 1000px) {
  .img-expanded {
    left: 22%;
    max-width: 500px;
  }
}

@media (max-width: 800px) {
  .img-expanded {
    left: 17%;
    max-width: 500px;
  }
}

@media (max-width: 800px) {
  .img-expanded {
    left: 12%;
    max-width: 500px;
  }
}

@media (max-width: 500px) {
  .img-expanded {
    left: 5%;
    max-width: 400px;
  }
}

@media (max-width: 400px) {
  .img-expanded {
    left: 0;
    max-width: 400px;
  }
}


.characters {
  border-radius: 50%;
}

.gallery {
  display: flex;
  padding: 2px;
  transition: 0.3s;
}
.grayscale {
  filter: grayscale(1);
}
.gallery__column {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.gallery__link {
  margin: 2px;
  overflow: hidden;
  cursor: pointer;
}
/* .gallery__link:hover .gallery__image {
  filter: grayscale(0);
} */
.gallery__link:hover .gallery__caption {
  opacity: 1;

}

.img-expanded:hover .shrink-text {
  opacity: 1;

}
.gallery__thumb {
  position: relative;
}
.gallery__image {
  display: block;
  width: 100%;
  transition: 0.3s;
}
.gallery__image:hover {
  transform: scale(1.1);
}

.gallery__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 15px 15px;
  width: 100%;
  /* font-family: 'Raleway', sans-serif; */
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  opacity: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
  transition: 0.3s;
}

.shrink-text {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 15px 15px;
  /* width: 100%; */
  /* font-family: 'Raleway', sans-serif; */
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  opacity: 0;
  transition: 0.3s;
}

@media (max-width: 600px) {
  .gallery__caption {
    font-size: 0.8rem;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 0;
  }
}


/* Slideshow */
.slideshow-container {
  position: relative;
  overflow: hidden;
  margin: 3rem auto;
  align-items: center;
  height: 700px;
  display: flex;
  justify-content: center;
  background-color: #000;
  border-radius: 10px;
  width: 90vw;
}

.slideshow-container img {
  width: 50%;
  height: 100%;
  min-width: 500px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(clr-secondary);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 20%;
}

.next {
  right: 20%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* The dots/bullets/indicators */
.dots {
  margin-bottom: 2rem;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #fff;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.coding-title {
  text-align: center;
  margin-top: 1.5rem;
}

#projects3 img {
  width: 800px;
  height: 600px;
  top: 50%;
  overflow: hidden;
  object-fit: cover;
  object-position: 100% 0;
  padding: 2rem;
}

.grid--1x2 {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-items: center;
}

.about-img {
  display: flex;
  width: 50%;
  min-width: 500px;
  padding: 2rem;
  border-radius: 3px;
  margin: 0 auto;
}

.about-desc {
  display: flex;
  justify-content: left;
  padding: 2rem;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  align-items: center;
}

@media (max-width: 500px) {
  .about-desc {
    margin: 0 ;
    padding: 0;
  }
}

.about-desc h2 {
  margin-bottom: 1.5rem;
  margin-top: 0;
  text-align: left;
  letter-spacing: 1px;
}

@media (max-width: 1180px) {
  .grid--1x2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
  }

  .about-desc,
  .about-desc h2 {
    text-align: center;
    padding: 1rem;
  }

  .prev, .next {
    top: 94%;
  }

  /* .gallery__column {
    width: 50%;
  } */
}

.footer {
  background-color: black;
  align-content: center;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.footer > ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  width: 100%;
  margin: 0 auto;
  padding: 0.75rem 0 0 0;
}

.footer > p {
  text-align: right;
  font-size: 0.75rem;
  padding: 0 1rem 0.75rem 0;
  color: var(--clr-link);
}

.condense {
  padding: 0.5rem 1rem;
}

@media (max-width: 560px) {

  .footer {
    border-radius:0;
  }

  .footer > ul {
    font-size: 1.2rem;
    justify-content: center;
  }

  .footer p {
    text-align: center;
    padding: 0.75rem 0;
  }

  .slideshow-container {
    width: 100%;
    border-radius: 0;
  }

  .frame {
    width: 100%;
    border-radius: 0;
  }

  .about-img {
    padding: 0;
    height: 50%;
  }

  .frame {
    padding: 3rem 0;
  }

}