:root {
  --clr-bg: #1955d1;
  --clr-secondary: #darkblue;
  --clr-text: #fff;
  --clr-link: #d2d0db;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--clr-text);
  font-family: 'Forum', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  background: #1956d1;
  background: -webkit-linear-gradient(bottom, #1956d1, #0b214d);
  background: -moz-linear-gradient(bottom, #1956d1, #0b214d);
  background: linear-gradient(to top, #1956d1, #0b214d);
}

h1 {
  font-weight: 500;
  font-size: 4rem;
  letter-spacing: 3px;
  word-spacing: 4px;
  text-align: center;
  margin-top: 5rem;
}

h2 {
  font-weight: 400;
  /* margin: 1rem; */
  margin-top: 3rem;
  text-align: left;
  letter-spacing: 2px;
}

a {
  color: var(--clr-link);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--clr-text);
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 2rem auto;
  height: 100%;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  z-index: 1;
}

/* Navbar */

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  /* box-shadow: none !important; */
}

.navbar > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  float: right;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  padding: 1rem;
}

.nav-links {
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
}

.nav-links li a {
  display: block;
  color: #fff;
  padding: 0 2rem;
}

.nav-links a:last-child {
  padding-right: 0;
}

.nav-links a:hover {
  color: var(--secondary-color);
  transition: 0.3s;
}

.nav-links .current a {
  color: var(--secondary-color);
}

.nav-toggler {
  position: absolute;
  top: 1.8rem;
  right: 0;
  /* display: none; */
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.nav-toggler .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

@media (max-width: 660px) {
  .nav-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 75px;
  }
}

@media (max-width: 660px) {
  .nav-bar > ul {
    flex-direction: column;
    margin: 1rem;
  }
}

/* Hero section */

.hero {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center;
  justify-content: center; */
  /* height: fit-content; */
  /* display: flex;
  flex-direction: column; */
  /* margin-top: 4rem; */
  /* width: 100%; */
  /* float: bottom; */
  /* padding: 2rem; */
  /* text-align: center; */
  /* position: relative; */
  /* background-image: url('./images/tiger01.jpg');
  background-repeat: no-repeat;
  background-position: center; */
  margin: 5rem auto;
  margin-bottom: 0;
  height: 200px;
  display: flex;
  justify-content: center;
}

.hero h1 {
  /* position: absolute; */
  /* top: 4rem; */
}

.interests {
  position: absolute;
}

/* Slideshow */
.slideshow-container {
  position: relative;
  overflow: hidden;
  margin: 2rem 0;
  align-items: center;
  height: 600px;
  display: flex;
  justify-content: center;
}

.slideshow-container img {
  width: 50%;
  height: 100%;
  min-width: 500px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(clr-secondary);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 10%;
}

.next {
  right: 10%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* @media (max-width: 1500px) {
  .prev {
    left: 20%;
  }

  .next {
    right: 20%;
  }
}

@media (max-width: 1100px) {
  .prev {
    left: 10%;
  }

  .next {
    right: 10%;
  }
} */

/* The dots/bullets/indicators */
.dots {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* bottom: 40px; */
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.grid {
  display: grid;
}

.about-img {
  display: flex;
  width: 100%;
  padding: 2rem;
}

.tiger {
  padding-left: 0;
}

.about-desc {
  flex-direction: column;
  justify-content: left;
  padding: 0 2rem 0 0;
  margin: 0 auto;
  width: 100%;
}

.about-desc h2 {
  margin-bottom: 1.5rem;
  /* font-weight: 600; */
  margin-top: 0;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .grid--1x2 {
    max-width: 500px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-desc {
    text-align: center;
    padding: 2rem;
  }

  .slideshow-container img {
    width: 10%;
  }

  .prev,
  .next {
    top: 91.2%;
  }

  .hero h1 {
    font-size: 3rem;
  }
}

@media (max-width: 660px) {
  /* .hero h1{
    top: 20%;
    margin-bottom: 1rem;
  } */

  /* .slideshow-container img {
    margin-top: 8rem;
  } */
}

.footer {
  background: black;
  align-content: center;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
}

.footer > ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  color: var(--clr-link);
  background-color: black;
  width: 100%;
  margin: 0 auto;
  padding: 0.75rem 0 0 0;
}

.footer > p {
  text-align: right;
  font-size: 0.75rem;
  padding: 0 1rem 0.75rem 0;
  color: var(--clr-link);
}
.grid--1x2 {
  display: flex;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
}

.condense {
  padding: 0.5rem 1rem;
}

@media (max-width: 660px) {
  .footer {
    align-items: center;
  }
  .nav-bar > ul > li {
    padding: 0.4rem;
  }
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  /* gap: 4rem; */
  /* justify-items: center; */
  margin-bottom: 4rem;
  /* align-items: center; */
}

/* The Picture Frame */
.gallery-frame {
  padding: 2rem;
  text-align: center;
  align-items: center;
}

.gallery-frame h2 {
  margin: 1rem;
  margin-top: 3rem;
}

.project-tile.characters:first-child {
  border-radius: 10%;
}

.project-tile.characters {
  border-radius: 50%;
}

/* The Images */
.project-tile {
  border-radius: 3px;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}

.project-tile:hover {
  /* opacity: 0.7; */
  transform: scale(1.5);
  transition: all 0.3s;
}
